---
layout: base.html
title: Home
---

<h1>Hi, I'm Nicholas Lowthorpe 👋</h1>
<p>I lead on solving messy, ambiguous business problems: challenging assumptions, focusing on what drives real
  outcomes, and ensuring investment in the right solutions.</p>
<p>Outside of work, I’m a perpetual tinkerer - constantly experimenting, building, and learning. </p>

<p style="color: var(--text-secondary);">I built a course teaching effective data storytelling &
  visualisation for executive presentations, which I delivered as a guest lecturer for University of Rotterdam and has
  been taken online by over 800 people. It's called 'The 5Cs Data Visualisation System' and focuses on visual design
  principles - now available for free on
  Gumroad.</p>
<a href="https://nicholaslowthorpe.gumroad.com/l/5csystem" target="_blank">→ Get my data visualisation course here,
  completely free</a><br><br>
<a href="{{ '/about/' | url }}">→ Click here for more about me</a>

<br><br><br>

<h2>Recent posts</h2>
<ul class="post-list">
  {% assign recentPost = collections.posts | reverse | first %}
  {% if recentPost %}
  <li>
    <h3><a href="{{ recentPost.url | url }}">{{ recentPost.data.title }}</a></h3>
    <small style="color: var(--text-secondary); display: block; margin-top: 0.2rem;">{{ recentPost.date | date: "%d %b %Y" }}</small>
    <p style="margin-top: 0.5rem; color: var(--text-secondary);">
      {% if recentPost.data.excerpt %}
      {{ recentPost.data.excerpt }}
      {% endif %}
    </p>
    <a href="{{ recentPost.url | url }}"
      style="font-size: 0.9em; font-weight: 700; margin-top: 1rem; display: inline-block;">Read more →</a>
  </li>
  {% endif %}
</ul>