<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles.css' | url }}">
  <script src="https://gumroad.com/js/gumroad.js"></script>
</head>

<body>
  <div class="layout-container">
    <aside class="sidebar">
      <div class="profile-container">
        <div class="profile-circle">
          <img src="{{ '/assets/me.jpg' | url }}" alt="Profile avatar">
        </div>
        <h2 class="profile-name">Nick Lowthorpe</h2>
      </div>

      <nav class="main-nav">
        <a href="{{ '/' | url }}">Home</a>
        <a href="{{ '/about/' | url }}">About Me</a>
        <a href="{{ '/posts/' | url }}">Blog</a>
      </nav>

      <div style="margin-top: 2rem; display: flex; justify-content: center; width: 100%;">
        <a class="gumroad-button" href="https://nicholaslowthorpe.gumroad.com/l/5csystem" target="_blank">Get my free
          course on:</a>
      </div>
    </aside>

    <main class="content">
      {{ content }}
    </main>
  </div>
</body>

</html>